@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    --top-bottom-margin: calc(25vh + 30px);
    --main-top-bottom-margin: 12vh;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(-45deg, #d4fc79, #96e6a1);

    font-family: "Roboto", sans-serif;
}

header {
    margin-top: var(--top-bottom-margin);
}

footer {
    margin: auto;
    margin-bottom: var(--top-bottom-margin);
}

a {
    color: #4682b4;
    text-decoration: 1px underline wavy #4682b4
}

main {
    display: flex;
    flex-flow: column wrap;
    gap: 7px;

    margin: auto;
    margin-top: var(--main-top-bottom-margin);
    margin-bottom: var(--main-top-bottom-margin);
    width: 85vw;

    text-align: center;
    font-size: 1rem;
    line-height: 1.7em;
}

main > section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    border: 3px black solid;
    border-radius: 10px;
    padding: 5px;
    box-sizing: border-box;
    width: calc(50% + 7.5vw);

    transition-property: border-color, transform;
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

main > section:nth-of-type(2n) {
    align-self: flex-end;
}

main > section:hover {
    transform: translateX(1vw);
    border-color: #ffffff;
    border-width: 2px;
}

main > section:hover:nth-of-type(2n) {
    transform: translateX(-1vw);
}

::selection {
    color: #000000;
    background-color: #ffffff;
}

.projects {
    list-style-type: none;
    font-weight: 300;
    line-height: 1.5em;
}

.declaration {
    width: 30rem;
    height: 6rem;

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    font-style: oblique 5deg;
    font-family: "Abel", "Roboto", sans-serif;
    text-align: center;
    text-shadow: .3rem .3rem .2rem #00000025;

    margin: auto;
}

a:visited {
    color: #663399;
    text-decoration-color: #663399;
}

a:hover {
    background-color: #ffffff;
    color: #ff0000;
    text-decoration: none;
}

a:active {
    background-color: #000000;
}

.projects li::before {
    content: "\261E";
    margin-right: 5px;
}

#pre-declaration {
    font-size: 1.2rem;
    text-align: center;
}

#about {
    font-size: 1.1rem;
}

#its-all {
    font-size: 5rem;
    background-image: linear-gradient(60deg, #ffa500, #ff0000);
    margin-top: .8vh;
}

#all-hail {
    font-size: 3.05rem;
    background-image: linear-gradient(-60deg, #000428, #007eb2);
}

#contact-icons a {
    margin-right: 7rem;
    display: inline-block;
}

#contact-icons img {
    width: clamp(35px, 5vw, 150px);
    box-sizing: border-box;
    transition-property: width, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
}

#contact-icons a:hover {
    background-color: transparent;
}

#contact-icons a:last-of-type{
    margin-right: 0;
}

#contact-icons img:hover {
   width: 6vw;
   opacity: .7;
}

@media screen and (max-width: 700px) {
    :root {
        --top-bottom-margin: calc(20vh + 20px);
        --main-top-bottom-margin: 8vh;
    }
    main {
        width: 80vw;
    }
    #its-all {
        font-size: 4.5rem;
        margin-top: .7vh;
    }
    #all-hail {
        font-size: 2.85rem;
    }
    #contact-icons a {
        margin-right: 6rem;
    }
}

@media screen and (max-width: 500px) {
    :root {
        --top-bottom-margin: calc(15vh + 12px);
        --main-top-bottom-margin: 5vh;
        --main-box-width: 75vw;
    }
    main {
        width: 75vw;
    }
    main > section {
        width: 100%;
    }
    #its-all {
        font-size: 3.8rem;
        margin-top: .6vh;
    }
    #all-hail {
        font-size: 2.3rem;
    }
    #contact-icons a {
        margin-right: 5rem;
    }
}
